[submodule "themes/hugo-theme-massively"]
	path = themes/hugo-theme-massively
	url = git@github.com:curttimson/hugo-theme-massively.git
[submodule "themes/meghna-hugo"]
	path = themes/meghna-hugo
	url = https://github.com/themefisher/meghna-hugo
