[submodule "themes/airspace-hugo"]
	path = themes/airspace-hugo
	url = git@github.com:themefisher/airspace-hugo.git
[submodule "themes/hugo-theme-massively"]
	path = themes/hugo-theme-massively
	url = git@github.com:curttimson/hugo-theme-massively.git
